@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

body {
  font-family: 'Pretendard', sans-serif;
  font-size: 16px;
  color: #000000;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.subtitle {
  font-size: 24px;
  font-weight: 600;
}

.body {
  font-size: 16px;
  font-weight: 400;
}

.body-number {
  font-size: 16px;
  font-weight: 400;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #246FF4;
  color: white;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 1;
}
