body {
  margin: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  display: flex;
  justify-content: center;
}

.wrapper {
  width: 360px;
}

main {
  padding-top: 60px;
  padding-bottom: 60px;
}
