/* header.css */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #246FF4;
  padding: 0 20px;
  display: flex;
  align-items: center;
  z-index: 1000;
}

/* 심볼 */
.header .symbol {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* 텍스트 */
.header .title {
  font-size: 16px;
  font-weight: 600; /* SemiBold */
  color: #ffffff;
  font-family: 'Pretendard', sans-serif;
}
