@import url('https://cdn.jsdelivr.net/npm/pretendard@1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

body {
  font-family: 'Pretendard Variable', sans-serif;
  line-height: 1.4;
  letter-spacing: -0.02em;
  margin: 0;
  padding: 0;
}

/* 타이틀 (Bold, 32px) */
.title {
  font-size: 32px;
  font-weight: 700;
}

/* 서브 타이틀 (SemiBold, 24px) */
.subtitle {
  font-size: 24px;
  font-weight: 600;
}

/* 본문 (Regular, 16px) */
.body {
  font-size: 16px;
  font-weight: 400;
}

/* 넘버링 (Bold, 16px) + 동그라미 */
.numbering {
  font-size: 16px;
  font-weight: 700;
  width: fit-content;
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  display: inline-block;
}
